@{
    ViewData["Title"] = "Show Knowledgebase";

    List<KnowledgebaseReply> knowledgebaseReplies = (List<KnowledgebaseReply>)ViewData["Replys"];
    Knowledgebase knowledgebase = (Knowledgebase)ViewData["Knowledgebase"];
    User user = (User)ViewData["User"];
}

@section Scripts {
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script>CKEDITOR.replace("Editor");</script>
}

<div class="container">
    <h1 class="mt-2">@knowledgebase.Title</h1>
    <a asp-action="Index" asp-controller="Knowledgebase"><-- Terug</a>

    @if (user.Role > 0)
    {
        <div class="w-100 float-right" style="margin-top: -35px;">
            <form asp-action="Delete" method="post" class="float-right ml-4">
                <input type="hidden" name="Id" value="@knowledgebase.Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
            @if (knowledgebase.PublishedAt == null)
            {
                <form asp-action="Publish" method="post" class="float-right">
                    <input type="hidden" name="Id" value="@knowledgebase.Id" />
                    <input type="submit" value="Publish" class="btn btn-success" />
                </form>
            }
        </div>
    }

    <div class="row"><div class="col"><hr /></div></div>

    <div class="mt-4">@Html.Raw(knowledgebase.Content)</div>

    <div class="row"><div class="col"><hr /></div></div>

    <div>
        <div class="mb-4">
            <h4>Replys:</h4>
            @if (user.Role > 0)
            {
                <button class="btn btn-dark float-right" style="margin-top: -40px" onclick="ShowReplyForm()" id="ReplyButton">Reply</button>
                <div class="d-none" id="ReplyDiv">
                    <form method="post" asp-action="Reply">
                        <input type="hidden" name="Id" value="@knowledgebase.Id" />
                        <textarea name="Content" id="Editor"></textarea>
                        <input type="submit" class="btn btn-primary" value="Post Reply" />
                    </form>
                </div>
            }
        </div>

        @if (knowledgebaseReplies == null)
        {
            <p>No one has replyed yet.</p>
        }
        else
        {
            @foreach (KnowledgebaseReply knowledgebaseReply in knowledgebaseReplies)
            {
                <div class="row"><div class="col"><hr /></div></div>
                <div>
                    <div class="mb-2">
                        Replyd @knowledgebaseReply.TimeSinceUpdate().
                    </div>
                    <div>
                        @Html.Raw(knowledgebaseReply.Content)
                    </div>
                </div>
            }
        }
    </div>
</div>
